FLASK
PYMONGO
TEXTBLOB
TEXTBLOB CORPUS NLTK
NLTK:TOKENIZER
TAGGER
ENTITY EXTRACTOR
JAVA TWITTER 4J LIBRARIES
JAVA MONGO DRIVER
TWITTER CREDENTIALS
bootstrap download http://getbootstrap.com/getting-started/ download source 
go to docs->examples->dashboard use 
